@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tw-animate-css";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {

  body,
  h1 {
    font-family: 'Poppins', sans-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label {
    font-family: 'Figtree', sans-serif;
  }

  /* input {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  } */
}

/* input {
  @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 rounded-sm;
} */


.text-scale-1 {
  font-size: 100%;
}

.text-scale-2 {
  font-size: 120%;
}

.text-scale-3 {
  font-size: 140%;
}

.text-scale-4 {
  font-size: 160%;
}

.adhd-mode :focus {
  outline: 3px solid red !important;
}

.pause-animations * {
  animation-play-state: paused !important;
  transition: none !important;
}

.dark {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

/* .test-height {
  @apply h-screen-header bg-green-500;
} */

:root {
  /* --radius: 0.625rem; */
  --background: oklch(1 0 0);
  /* --foreground: oklch(0.145 0 0); */
  /*  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #151515;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  */
}




@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */

  /* body {
    @apply bg-background text-foreground;
  } */
}